.full{
    overflow: hidden;
    position: relative;
    background-color: #F2F2F2;

}

header{
    @extend %global;
    .mainheader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 39px;
        margin-bottom: 180px;
        &> button{
            @extend %mybutton;
            z-index: 2;
            &:hover{
                background-color: #666CA3;
            }
        }

    }


}
.s-1{
    @extend %global;
    margin-bottom: 134px;
    .container{
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .ledtbox{
            max-width:457px ;
            h2{
                @include text ($size:56px,$weight:800,$color:#13183F);
                margin-bottom: 30px
            }
            p{
                @include text;
                margin-bottom: 60px;
                line-height: 28px
            }
            button{
                @extend %mybutton;
                background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
                &:hover{
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
                    border-radius: 31.5px;
                }
            }
        }
        .rightbox{
            width: 1046px;
            height: 438px;
            .desktop-wallpaper{
                top: -160px;
                right: -330px;
                position: absolute;
                
            }
            .talet-wallpaper , .mobile-wallpaper{
                display: none;
            }

        }
   
    }
}

.s-2{
    @extend %global;
    .wrapper{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .first-card{
            background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
            width: 350px;
            border-radius: 15px;
            padding: 64px  32px 40px;
            background-color: #ffffff;
            margin-right: 30px; 
            margin-bottom: 80px;
            text-align: start;
            &:hover{
                transform: scale(1.05);
            }
            h4{
                @include text($size:32px, $weight:800 , $color:#FFFFFF);
                line-height: 40px;
            }

        }
        .card{
            width: 350px;
            box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
            border-radius: 15px;
            padding: 2px  32px 40px;
            background-color: #ffffff;
            margin-right: 30px; 
            margin-bottom: 80px;
            &:hover{
                transform: scale(1.05);

            }
            .card-icon{
                position: relative;
                top: -25px;
            }
            
            h3{
                @include text ($size:24px,$weight:800,$color:#13183F);
                margin-bottom: 24px;
            }
            p{
                @include text;
                line-height: 28px;
                margin-bottom: 24px;
            }
            a{
                @include text ($weight:700);
                color: #F74780;
                &:hover{
                    color:#FFA7C3;
                }
            }
        }
    }
}

footer{
    width: 100%;
    .mainfooter{
        padding: 46px 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #13183F;
        &> button{
            @extend %mybutton;
            background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
            &:hover{
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
            }
        }

    }
}